*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin: 100px auto;
    border: 1px solid orangered;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
    height: 100%;
}