*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 3px grey;
}
.welcomediv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 450px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid slategrey;
    box-shadow: 3px 4px 3px grey;
    margin: 100px auto;
}
.addeventbtn{
    padding: 6px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: ease-in;
    background-color: springgreen;
    cursor: pointer;
    
}
.addeventbtn:hover{
    background-color: transparent;
    border:1px solid rgba(65, 65, 230, 0.863);
    transform: scale(1.1);
}